{% extends 'base.html' %}


{% block content %}
{% load static %}

<div class="card card-body py-3" style="margin-bottom: 20px;">
    <div class="row align-items-center">
      <div class="col-12">
        <div class="d-sm-flex align-items-center justify-space-between">
          <h4 class="mb-4 mb-sm-0 card-title">Mes Groupes</h4>
          <nav aria-label="breadcrumb" class="ms-auto">
            <ol class="breadcrumb">
              <li class="breadcrumb-item d-flex align-items-center">
                
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
</div>

    <div class="row">
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card w-100">
            <div class="card-body">
                <div class="form-group">
                <h4 class="card-title">Nom du Projets</h4>
                <p class="card-subtitle mb-3">Nom de la classes</p>
                <button class="btn d-block w-100 fw-medium bg-info-subtle text-info without-msg">
                    Ouvrir
                </button>
                </div>
            </div>
            </div>
        </div>
    
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card w-100">
            <div class="card-body">
                <div class="form-group">
                <h4 class="card-title">Logiciel Power AMC</h4>
                <p class="card-subtitle mb-3">GA:SGBDR/SQL Pre BENMOUSSA IIBDCC IICCN GLSID</p>
                <button class="btn d-block w-100 fw-medium bg-info-subtle text-info without-msg">
                    Ouvrir
                </button>
                </div>
            </div>
            </div>
        </div>
    
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card w-100">
            <div class="card-body">
                <div class="form-group">
                <h4 class="card-title">Image RGB</h4>
                <p class="card-subtitle mb-3">BDCC_CCN_GLSID_24_25 Algo</p>
                <button class="btn d-block w-100 fw-medium bg-info-subtle text-info without-msg">
                    Ouvrir
                </button>
                </div>
            </div>
            </div>
        </div>
    </div>
    

{% endblock content %}