{% load static %}

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>

    <!-- Custom CSS -->
    <link href="{% static 'css/prof/dist/css/style.min.css' %}" rel="stylesheet">
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>

</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin6" style="width: 80px;">
            <nav class="navbar top-navbar navbar-expand-lg">
                <div class="navbar-header" data-logobg="skin6" ">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-lg-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-brand">
                        <!-- Logo icon -->
                            <a class="sidebar-link" href="#" aria-expanded="false">
                                <img src="{% static 'img/logo.png' %}" alt="logo" style="width: 63px; height: 52px; position: absolute; top: 16px; left: 17px;">
                            </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- Menu Toggle Button -->
        <aside class="left-sidebar" data-sidebarbg="skin6" >
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'prof_accueil' %}" aria-expanded="false" data-bs-toggle="tooltip" data-bs-placement="right" title="Accueil">
                                <div class="icon-text">
                                    <span class="iconify pl-1" data-icon="solar:home-angle-linear" style="font-size: 25px;"></span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'prof_classes' %}" aria-expanded="false" data-bs-toggle="tooltip" data-bs-placement="right" title="Classes">
                                <div class="icon-text">
                                    <span class="iconify" data-icon="solar:notebook-minimalistic-linear" style="font-size: 25px;"></span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item"> 
                            <a class="sidebar-link" href="{% url 'mes_projets' %}" aria-expanded="false" data-bs-toggle="tooltip" data-bs-placement="right" title="Projets">
                                <div class="icon-text">
                                    <span class="iconify me-2" data-icon="solar:folder-outline" style="font-size: 24px;"></span>
                                </div>
                            </a>
                        </li>
                        <li class="list-divider"></li>

                        <li class="sidebar-item"> 
                            <a class="sidebar-link" href="{% url 'pchatbot' %}" aria-expanded="false" data-bs-toggle="tooltip" data-bs-placement="right" title="Chat">
                                <div class="icon-text">
                                    <span class="iconify" data-icon="mage:robot-happy" style="font-size: 27px;"></span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item"> 
                            <a class="sidebar-link" href="{% url 'start_meet' %}" aria-expanded="false" data-bs-toggle="tooltip" data-bs-placement="right" title="meet">
                                <div class="icon-text">
                                    <span class="iconify me-2" data-icon="fluent:meet-now-16-regular" style="font-size: 27px;"></span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item"> 
                            <a class="sidebar-link" href="{% url 'calender' %}" aria-expanded="false" data-bs-toggle="tooltip" data-bs-placement="right" title="Calenderier">
                                <div class="icon-text">
                                    <span class="iconify" data-icon="solar:calendar-date-outline" style="font-size: 27px;"></span>
                                </div>
                            </a>
                        </li>
                        <li class="list-divider"></li>
                        <li class="sidebar-item"> 
                            <a class="sidebar-link" href="{% url 'prof_notification' %}" aria-expanded="false" data-bs-toggle="tooltip" data-bs-placement="right" title="Notifications">
                                <div class="icon-text">
                                    <span class="iconify me-2" data-icon="solar:bell-linear" style="font-size: 24px;"></span>
                                </div>
                            </a>
                        </li>
                        
                        <li class="sidebar-item"> 
                            <a class="sidebar-link" href="{% url 'prof_profile' %}" aria-expanded="false" data-bs-toggle="tooltip" data-bs-placement="right" title="Profile">
                                <div class="icon-text">
                                    <span class="iconify me-2" data-icon="solar:user-circle-linear" style="font-size: 24px;"></span>
                                </div>
                            </a>
                        </li>

                        <li class="sidebar-item"> 
                            <a id="themeToggle" class="sidebar-link"  aria-expanded="false" data-bs-toggle="tooltip" data-bs-placement="right" title="light">
                                <div class="icon-text">
                                    <span class="iconify me-2" data-icon="solar:sun-outline" style="font-size: 24px;"></span>
                                </div>
                            </a>
                        </li>
                          
                        
                        
                        <li class="list-divider"></li>
                        
                        <li class="sidebar-item"> 
                            <a class="sidebar-link" href="{url 'logout'}" aria-expanded="false">
                                <div class="icon-text">
                                    <span class="iconify" data-icon="solar:logout-2-outline"></span>
                                </div>
                            </a>
                        </li>


                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid" style="padding: 12px;">
                {% block content %} 

                {% endblock content %}
                
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <script src="{% static 'css/prof/assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'js/prof/script.js' %}"></script>
    
    <script src="{% static 'css/prof/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="{% static 'css/prof/dist/js/app-style-switcher.js' %}"></script>
    <script src="{% static 'css/prof/dist/js/feather.min.js' %}"></script>
    <script src="{% static 'css/prof/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'css/prof/dist/js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'css/prof/dist/js/custom.min.js' %}"></script>
    <!--This page JavaScript -->
    <script src="{% static 'css/prof/assets/extra-libs/c3/d3.min.js' %}"></script>
    <script src="{% static 'css/prof/assets/extra-libs/c3/c3.min.js' %}"></script>
    <script src="{% static 'css/prof/assets/libs/chartist/dist/chartist.min.js' %}"></script>
    <script src="{% static 'css/prof/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>
    <script src="{% static 'css/prof/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js' %}"></script>
    <script src="{% static 'css/prof/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'css/prof/dist/js/pages/dashboards/dashboard1.min.js' %}"></script>
    <script src="{% static 'css/prof/dist/js/pages/chartjs/chartjs.init.js' %}"></script>
    <script src="{% static 'css/prof/assets/libs/chart.js/dist/Chart.min.js' %}"></script>
</body>

</html>
