{% extends 'base.html' %}


{% block content %}
{% load static %}

<div class="card card-body py-3" style="margin-bottom: 20px;">
    <div class="row align-items-center">
      <div class="col-12">
        <div class="d-sm-flex align-items-center justify-space-between">
            
          <h4 class="mb-4 mb-sm-0 card-title">Documents de groupe</h4>
          <nav aria-label="breadcrumb" class="ms-auto">
            <ol class="breadcrumb">
              <li class="breadcrumb-item d-flex align-items-center">
                <button {% if archive %} disabled {% endif %} style="display: flex; justify-content: center; align-items: center;" type="button" class="btn mb-1 bg-primary-subtle text-primary px-4 fs-4 " data-bs-toggle="modal" data-bs-target="#primary-header-modal">
                    <iconify-icon icon="solar:add-square-outline" class="fs-7"></iconify-icon>
                    <span style="padding: 5px;"></span>
                    Ajouter un document
                </button>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
</div>

    <div class="row" id="documents-container">

        {% for d in doc %}

            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card w-100">
                <div class="card-body">
                    <div class="form-group">

                    <!-- Bouton Menu 3 points -->
                {% if d.etudiant.id == request.session.user_id%}
                    <div class="dropdown position-absolute top-0 end-0 m-2">
                        <button class="three-points-menu" type="button" id="dropdownMenuButton{{ d.id }}" data-bs-toggle="dropdown" aria-expanded="false" style="background: transparent;">
                            <iconify-icon icon="solar:menu-dots-bold" class="fs-6"></iconify-icon>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ d.id }}">
                            <li><button class="dropdown-item text-danger"  data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="btn-delete" data-id="{{ d.id }}">Supprimer</button></li>
                        </ul>
                    </div>
                {% endif %}
                    <div class="card-photo-container">
                        <img src="{% static 'img/doc-photo.png' %}" class="card-photo-center" alt="rien !">
                    </div>
               
                        
                    
                    <h4 style="font-size: 17px;">{{d.title}}</h4>
                    <form method="POST" action="{% url 'ouvrir_doc' %}">
                        {% csrf_token %}
                        <input type="hidden" name="file_path" value="{{d.file.url}}">
                        <input type="submit"  value="Consulter le document" name="ouvrir" class="btn d-block w-100 fw-medium bg-primary-subtle text-primary without-msg ouvrir_groupe">
                    </form>
                    </div>
                </div>
                </div>
                    </div>
        {% endfor %}
        
    </div>

    <!-- MODAL Supprimer -->

    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer ce document ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <form method="POST" action="{% url 'suppDoc' %}"> 
                      {% csrf_token %}
                      <input type="hidden" name="document_id" id="document_id">
                      <input type="submit" class="btn btn-danger" id="confirmDeleteBtn"  name="delete" value="Supprimer">
                    </form>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Modal Ajouter-->
    <div id="primary-header-modal" class="modal fade" tabindex="-1" aria-labelledby="primary-header-modalLabel" style="display: none;" aria-hidden="true" style="z-index: 200;">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" style="z-index: 200;">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-primary text-white">
            <h4 class="modal-title text-white" id="primary-header-modalLabel">
                Ajouter un document
            </h4>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                aria-label="Close" onclick="resetForm()"></button>
            </div>
            <div class="modal-body">
                <form id="taskForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="imageInput" class="form-label">Document</label>
                      <input type="file" class="form-control" id="imageInput" name="file" accept="*">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal" onclick="resetForm()">
                Fermer
            </button>
            <button type="button" class="btn bg-primary-subtle text-primary " id="upload-btn">
                Ajouter
            </button>
            </div>
        </div>
        <!-- /.modal-content -->
        </div>
    </div>
    <script>
        document.getElementById("upload-btn").addEventListener("click", function () {
            let fileInput = document.getElementById("imageInput");
            let file = fileInput.files[0];
            if (!file) {
                return; 
            }
            let formData = new FormData();
            formData.append("file", file);
            fetch("{% url 'documents' %}", {
                method: "POST",
                body: formData,
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    let modalElement = document.querySelector('#primary-header-modal');
                    let modalInstance = bootstrap.Modal.getInstance(modalElement);
                    if (modalInstance) {
                        modalInstance.hide();
                    }
                    location.reload();
                }
            })
            .catch(error => {
                console.error("Erreur réseau :", error);
            });
        });
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    if (cookie.startsWith(name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    
    // Lorsque le bouton "Supprimer" est cliqué
    document.querySelectorAll('#btn-delete').forEach(function(button) {
        button.addEventListener('click', function() {
            // Récupérer l'ID du document depuis l'attribut data-id
            var documentId = this.getAttribute('data-id');
            
            // Placer cet ID dans le champ caché du formulaire
            document.getElementById('document_id').value = documentId;
        });
    });
    function resetForm() {
            document.querySelectorAll("#taskForm input").forEach(input => {
                input.value = "";
            });  
    }

    </script>       
        
        

{% endblock content %}