{% extends 'base.html' %}


{% block content %}
{% load static %}

<div class="card card-body py-3" style="margin-bottom: 20px;">
  <div class="row align-items-center">
    {% load static %}  <!-- Charger les fichiers statiques -->

<div class="row">
    {% for classe in classes %}
    <div class="col-lg-4">
        <div class="card">
            <div class="position-relative">
                <a href="javascript:void(0)">
                    <img src="{% static 'MatDash Bootstrap Admin_files/blog-img3.jpg' %}" class="card-img-top" alt="matdash-img">
                </a>
                <span class="badge text-bg-light text-dark fs-2 lh-sm mb-9 me-9 py-1 px-2 fw-semibold position-absolute bottom-0 end-0" style="visibility: hidden;">Nouveau projet</span>
             
                <img src="{{ classe.professeur.photo_profil.url }}" 
                     alt="matdash-img" 
                     class="img-pofile-class img-fluid rounded-circle position-absolute bottom-0 start-0 mb-n9 ms-9" 
                     width="40" height="40" 
                     data-bs-toggle="tooltip" 
                     data-bs-placement="top" 
                     data-bs-title="{{ classe.professeur.nom}} {{ classe.professeur.prenom}}">
            </div>
            <div class="card-body p-4">
              
                <span class="badge text-bg-light fs-2 py-1 px-2 lh-sm mt-3">
                    {{ classe.professeur.nom }} {{ classe.professeur.prenom}}
                </span>
                
               
                <a class="d-block my-4 fs-5 text-dark fw-semibold link-primary" href="">
                    {{ classe.nom_classe }}
                </a>
                
                <div class="d-flex align-items-center gap-4">
                 
                    <div class="d-flex align-items-center gap-2">
                        <iconify-icon icon="solar:users-group-rounded-bold-duotone" class="fs-7"></iconify-icon>
                        {{ classe.etudiants.count }} étudiants
                    </div>

                    
                    <div class="d-flex align-items-center gap-2">
                        <iconify-icon icon="solar:folder-open-bold-duotone" class="fs-7"></iconify-icon>
                        {{ classe.projets.count }} projets
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Modal -->

<div id="primary-header-modal" class="modal fade" tabindex="-1"
    aria-labelledby="primary-header-modalLabel" style="display: none;" aria-hidden="true" style="z-index: 200;">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" style="z-index: 200;">
      <div class="modal-content">
        <div class="modal-header modal-colored-header bg-primary text-white">
          <h4 class="modal-title text-white" id="primary-header-modalLabel">
            Rejoindre une classe
          </h4>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="taskForm">
            <div class="mb-3">
              <label for="taskName" class="form-label">Code de Classe</label>
              <input type="text" class="form-control" id="taskName" required>
            </div>
    
            <!-- <input type="hidden" id="editIndex"> -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">
            Fermer
          </button>
          <button type="button" class="btn bg-primary-subtle text-primary ">
            Rejoindre
          </button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

{% endblock content %}