{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="card card-body py-3" style="margin-bottom: 20px; background: transparent; box-shadow: none;">
  <div class="row align-items-center">
    {% load static %}  <!-- Charger les fichiers statiques -->

  <!-- <div class="card card-body py-3" style="margin-bottom: 20px;">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="d-sm-flex align-items-center justify-space-between">
            <h4 class="mb-4 mb-sm-0 card-title">Mes Classes</h4>
           
            <nav aria-label="breadcrumb" class="ms-auto">
              <ol class="breadcrumb">
                <li class="breadcrumb-item d-flex align-items-center">
                  <button style="display: flex; justify-content: center; align-items: center;" type="button" class="btn mb-1 bg-primary-subtle text-primary px-4 fs-4 " data-bs-toggle="modal" data-bs-target="#primary-header-modal">
                      <iconify-icon icon="solar:add-square-outline" class="fs-7"></iconify-icon>
                      <span style="padding: 5px;"></span>
                      Rejoindre une classe
                  </button>
                </li>
                 <li class="breadcrumb-item d-flex align-items-center">
                    <a href="{% url 'classes_archives' %}" class="btn mb-1 bg-primary-subtle text-primary" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                        data-bs-placement="bottom" data-bs-title="Archive">
                        <iconify-icon icon="solar:archive-broken" class="fs-7"></iconify-icon>
                    </a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
  </div> -->

 <div class="card card-body py-3" style="margin-bottom: 20px; background: transparent; box-shadow: none;">
  <div class="row align-items-center">
    {% load static %}

  <div class="card card-body py-3" style="margin-bottom: 20px;">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="d-sm-flex align-items-center justify-space-between">
            <h4 class="mb-4 mb-sm-0 card-title">Mes Classes</h4>
            <div class="ms-auto d-flex align-items-center gap-3">
              <!-- Barre de recherche en temps réel -->
              <div class="position-relative">
                <div class="input-group">
                  <input type="text" id="realtime-search" class="form-control" placeholder="Rechercher..." style="border-radius: 20px 0 0 20px; padding-left: 15px;">
                  <button class="btn btn-outline-primary" style="border-radius: 0 20px 20px 0;">
                    <iconify-icon icon="solar:magnifer-linear"></iconify-icon>
                  </button>
                </div>
              </div>
              
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item d-flex align-items-center">
                    <button style="display: flex; justify-content: center; align-items: center;" type="button" class="btn mb-1 bg-primary-subtle text-primary px-4 fs-4 " data-bs-toggle="modal" data-bs-target="#primary-header-modal">
                        <iconify-icon icon="solar:add-square-outline" class="fs-7"></iconify-icon>
                        <span style="padding: 5px;"></span>
                        Rejoindre une classe
                    </button>
                  </li>
                  <li class="breadcrumb-item d-flex align-items-center">
                    <a href="{% url 'classes_archives' %}" class="btn mb-1 bg-primary-subtle text-primary" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                        data-bs-placement="bottom" data-bs-title="Archive">
                        <iconify-icon icon="solar:archive-broken" class="fs-7"></iconify-icon>
                    </a>
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
  </div>

      <!-- MODAL MODIFIER -->
              
      <div id="primary-header-modal-modifier" class="modal fade" tabindex="-1" aria-labelledby="primary-header-modalLabel" style="display: none;" aria-hidden="true" style="z-index: 200;">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" style="z-index: 200;">
            <div class="modal-content">
            <div class="modal-header modal-colored-header bg-primary text-white">
                <h4 class="modal-title text-white" id="primary-header-modalLabel">
                  Rejoindre une classes
                </h4>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
    
                <form id="taskForm" method="post" >
                {% csrf_token %}
                <div class="mb-3">
                    <label for="taskName" class="form-label">Code de classe</label>
                    <input type="text" class="form-control" id="code" name="code_classes" required>
                </div>
    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                Fermer
                </button>
                <input type="submit"  name="creer_groupe" value="Modifier" class="btn bg-primary-subtle text-primary ">
                <input type="hidden" name="projet_id" id="projet-id-modal">
            </div>
            </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>



<div class="row" id="classes-container">
    {% for item in classes_with_images %}
    {% with classe=item.classe image=item.image %}
    <div class="col-md-4 classe-card" data-name="{{ classe.nom_classe|lower }}" >
        <div class="card">
            <div class="position-relative">
                <div class="dropdown position-absolute top-0 end-0 m-2">
                    <button class="three-points-menu" type="button" id="dropdownMenuButton{{ classe.id }}" data-bs-toggle="dropdown" aria-expanded="false" style="background: transparent;">
                        <iconify-icon icon="solar:menu-dots-bold" class="fs-6"></iconify-icon>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ classe.id }}">
                        <li><button class="dropdown-item text-danger btn-delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-id="{{ classe.id }}">Quitter</button></li>
                        <li><form method="post" action="">{% csrf_token %}<input type="hidden" name="class_id" value="{{ classe.id }}"><input type="submit" name="archiver" class="dropdown-item text-primary btn_archiver_classe" value="Archiver"></form></li>
                    </ul>
                </div>
                <a href="javascript:void(0)">
                  <img src="{% get_static_prefix %}{{ image }}" class="card-img-top" alt="matdash-img">
                </a>
            </div>
            <div class="card-body p-4">
                <span class="badge text-bg-light fs-2 py-1 px-2 lh-sm mt-3">
                    {{ classe.professeur.nom }} {{ classe.professeur.prenom }}
                </span>
                <a id="classe_link" class="d-block my-4 fs-5 text-dark fw-semibold link-primary" href="{% url 'projets' classe.code_classe %}">
                    {{ classe.nom_classe }}
                </a>
                <div class="d-flex align-items-center gap-4">
                    <div class="d-flex align-items-center gap-2">
                        <iconify-icon icon="solar:users-group-rounded-bold-duotone" class="fs-7"></iconify-icon>
                        {{ classe.etudiants.count }} étudiants
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <iconify-icon icon="solar:folder-open-bold-duotone" class="fs-7"></iconify-icon>
                        {{ classe.projets.count }} projets
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endwith %}
    {% endfor %}
</div>

<!-- Modal de confirmation pour quitter -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir quitter cette classe ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <form method="post" action="{% url 'classes' %}"> 
                    {% csrf_token %}
                    <input type="hidden" name="id_groupe_quitter" id="id_groupe_quitter">
                    <input type="submit" class="btn btn-danger" id="confirmDeleteBtn" name="delete_groupe" value="Quitter">
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->

<div id="primary-header-modal" class="modal fade" tabindex="-1"
    aria-labelledby="primary-header-modalLabel" style="display: none;" aria-hidden="true" style="z-index: 200;">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" style="z-index: 200;">
      <div class="modal-content">
        <div class="modal-header modal-colored-header bg-primary text-white">
          <h4 class="modal-title text-white" id="primary-header-modalLabel">
            Rejoindre une classe
          </h4>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="taskForm" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="taskName" class="form-label" >Code de Classe</label>
              <input type="text" class="form-control" id="code_classe" name="code_classe"  required>
            </div>
    <!-- ------------------------------------------ -->
           <!-- Message temporaire d'erreur -->
           {% if error_message %}
           <div class="alert alert-danger" id="error-message">
               {{ error_message }}
           </div>
           {% endif %}
    <!-- -------------------------------------------------- -->
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">
            Fermer
          </button>
          <button type="submit" class="btn bg-primary-subtle text-primary ">
            Rejoindre
          </button>
        </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<!-- Script pour gérer l'affichage du modal et cacher l'erreur après 3 secondes -->
{% if error_message %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var modalElement = document.getElementById('primary-header-modal');
        var myModal = new bootstrap.Modal(modalElement);
        
        // Ouvre le modal si ce n'est pas déjà ouvert
        if (!modalElement.classList.contains('show')) {
            myModal.show();
        }

        // Disparition du message d'erreur après 3 secondes
        setTimeout(function() {
            var errorMsg = document.getElementById("error-message");
            if (errorMsg) {
                errorMsg.style.transition = "opacity 0.5s";
                errorMsg.style.opacity = "0";
                setTimeout(() => errorMsg.style.display = "none", 500);
            }
        }, 3000);

        // Lorsque le modal est fermé, vider le champ "Code de Classe"
        $(modalElement).on('hidden.bs.modal', function () {
            document.getElementById('code_classe').value = '';  // Vider le champ
        });
    });
</script>

<script>
document.addEventListener("DOMContentLoaded", function() {
    // Gestion du bouton de suppression
    document.querySelectorAll('.btn-delete').forEach(button => {
        button.addEventListener('click', function() {
            const classId = this.getAttribute('data-id');
            document.getElementById('id_groupe_quitter').value = classId;
        });
    });
});
</script>
{% endif %}

<script>
document.addEventListener('DOMContentLoaded', function() {
    const searchInput = document.getElementById('realtime-search');
    const classesContainer = document.getElementById('classes-container');
    const classCards = document.querySelectorAll('.classe-card');
    
    searchInput.addEventListener('input', function() {
        const searchTerm = this.value.toLowerCase();
        
        classCards.forEach(card => {
            const name = card.getAttribute('data-name');
           
            
            if (name.includes(searchTerm) ) {
                card.style.display = 'block';
            } else {
                card.style.display = 'none';
            }
        });
    });
    
    // Gestion du bouton de suppression
    document.querySelectorAll('.btn-delete').forEach(button => {
        button.addEventListener('click', function() {
            const classId = this.getAttribute('data-id');
            document.getElementById('id_groupe_quitter').value = classId;
        });
    });
});
</script>




{% endblock content %}