{% extends 'base.html' %}


{% block content %}
{% load static %}

<div class="card overflow-hidden">
    <div class="card-body p-0">
      <img src="{% static 'MatDash Bootstrap Admin_files/profilebg.jpg' %}" alt="matdash-img" class="img-fluid">
      <div class="row align-items-center">
        <div class="col-lg-4 order-lg-1 order-2">
          <div class="d-flex align-items-center justify-content-around m-4">
            <div class="text-center">
              <iconify-icon icon="solar:notes-bold-duotone" class="fs-7"></iconify-icon>
              <h4 class="mb-0 fw-semibold lh-1">14</h4>
              <p class="mb-0 ">Classes</p>
            </div>
            <div class="text-center">
              <iconify-icon icon="solar:folder-check-bold-duotone" class="fs-7"></iconify-icon>
              <h4 class="mb-0 fw-semibold lh-1">18</h4>
              <p class="mb-0 ">Projets terminés</p>
            </div>
            <div class="text-center">
              <iconify-icon icon="solar:folder-open-bold-duotone" class="fs-7"></iconify-icon>
              <h4 class="mb-0 fw-semibold lh-1">4</h4>
              <p class="mb-0 ">Projets en cours</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mt-n3 order-lg-2 order-1">
          <div class="mt-n5">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <div class="d-flex align-items-center justify-content-center round-110">
                <div class="border border-4 border-white d-flex align-items-center justify-content-center rounded-circle overflow-hidden round-100">
                  <img src="{% static 'MatDash Bootstrap Admin_files/user-7.jpg' %}" alt="matdash-img" class="w-100 h-100">
                </div>
              </div>
            </div>
            <div class="text-center">
              <h5 class="mb-0">David McMichael</h5>
              <p class="mb-0">david.michael@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 order-last">
          <!-- <ul class="list-unstyled d-flex align-items-center justify-content-center justify-content-lg-end my-3 mx-4 pe-4 gap-3">
            <li>
              <a class="d-flex align-items-center justify-content-center btn btn-primary p-2 fs-4 rounded-circle" href="javascript:void(0)" width="30" height="30">
                <i class="ti ti-brand-facebook"></i>
              </a>
            </li>
            <li>
              <a class="btn btn-secondary d-flex align-items-center justify-content-center p-2 fs-4 rounded-circle" href="javascript:void(0)">
                <i class="ti ti-brand-dribbble"></i>
              </a>
            </li>
            <li>
              <a class="btn btn-danger d-flex align-items-center justify-content-center p-2 fs-4 rounded-circle" href="javascript:void(0)">
                <i class="ti ti-brand-youtube"></i>
              </a>
            </li>
            <li>
            </li>
          </ul> -->
          <button style="display: flex; justify-content: center; align-items: center;" type="button" class="btn mb-1 bg-primary-subtle text-primary px-4 fs-4 " data-bs-toggle="modal" data-bs-target="#primary-header-modal">
            Modifier vos informations personnelles
          </button>
        </div>
      </div>
      
    </div>
</div>

<div id="primary-header-modal" class="modal fade" tabindex="-1"
    aria-labelledby="primary-header-modalLabel" style="display: none;" aria-hidden="true" style="z-index: 200;">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" style="z-index: 200;">
      <div class="modal-content">
        <div class="modal-header modal-colored-header bg-primary text-white">
          <h4 class="modal-title text-white" id="primary-header-modalLabel">
            Modifier les informations personnelles
          </h4>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form id="taskForm">
            <div class="border border-4 border-white d-flex align-items-center justify-content-center rounded-circle overflow-hidden round-100">
              <img src="{% static 'MatDash Bootstrap Admin_files/user-7.jpg' %}" alt="matdash-img" class="w-100 h-100">
            </div>
            <div class="mb-3">
              <label for="imageInput" class="form-label">Photo de profile</label>
              <input type="file" class="form-control" id="imageInput" accept="image/*" onchange="previewImage(event)">
              
              <label for="taskName" class="form-label">Nom</label>
              <input type="text" class="form-control" id="taskName" required>
              
              <label for="taskName" class="form-label">Prénom</label>
              <input type="text" class="form-control" id="taskName" required>
            </div>
    
            <!-- <input type="hidden" id="editIndex"> -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">
            Fermer
          </button>
          <button type="button" class="btn bg-primary-subtle text-primary ">
            Valider
          </button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

{% endblock content %}